---
import client from "../../tina/__generated__/client";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Post from "../components/Post.astro";
import ColorScript from "../components/ColorScript.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const res = await client.queries.proyectosConnection();
const proyectos = res.data.proyectosConnection.edges.map((edge) => ({
	...edge.node,
	url: `/project/${edge.node._sys.filename}`,
}));

proyectos.sort(
	(a, b) =>
		new Date(b.updated || b.added).valueOf() -
		new Date(a.updated || a.added).valueOf()
);
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	<body>
		<Header />
		<main>
			<content>
				<ul class="posts-list">
					{
						proyectos.map((proyecto) => (
							<Post
								description={proyecto.description}
								date={proyecto.added}
								slug={proyecto.url}
								title={proyecto.title}
								tags={proyecto.tags}
							/>
						))
					}
				</ul>
			</content>

		</main>
		<Footer />
		<ColorScript />
	</body>
</html>
