---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ColorScript from "../components/ColorScript.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const proyectos = await getCollection("projects");

// Ordenar por fecha de actualización o creación (más reciente primero)
proyectos.sort(
	(a, b) =>
		new Date(b.data.updated || b.data.added).valueOf() -
		new Date(a.data.updated || a.data.added).valueOf()
);
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	<body>
		<Header />
		<main>
			<section>
				<ul class="posts-list">
					{
						proyectos.map((proyecto) => (
							<ProjectCard
								description={proyecto.data.description}
								date={proyecto.data.added}
								slug={`/project/${proyecto.data.slug}`}
								title={proyecto.data.title}
								tags={proyecto.data.tags}
							/>
						))
					}
				</ul>
			</section>

		</main>
		<Footer />
		<ColorScript />
	</body>
</html>
